
.~lock.cost_performance_allyears.xlsx\#
hourly datasets/cw_modified.xlsx
hourly datasets/df_merged_pickle.pkl
hourly datasets/fossil_PlantCapacity_allyears.dta
hourly datasets/year-1-0.xlsx
hourly datasets/year-1-1.xlsx
hourly datasets/year-1-10.xlsx
hourly datasets/year-1-11.xlsx
hourly datasets/year-1-12.xlsx
hourly datasets/year-1-2.xlsx
hourly datasets/year-1-3.xlsx
hourly datasets/year-1-4.xlsx
hourly datasets/year-1-5.xlsx
hourly datasets/year-1-6.xlsx
hourly datasets/year-1-7.xlsx
hourly datasets/year-1-8.xlsx
hourly datasets/year-1-9.xlsx
hourly datasets/year-2-0.xlsx
hourly datasets/year-2-1.xlsx
hourly datasets/year-2-10.xlsx
hourly datasets/year-2-2.xlsx
hourly datasets/year-2-3.xlsx
hourly datasets/year-2-4.xlsx
hourly datasets/year-2-5.xlsx
hourly datasets/year-2-6.xlsx
hourly datasets/year-2-7.xlsx
hourly datasets/year-2-8.xlsx
hourly datasets/year-2-9.xlsx
hourly datasets/year-3-0.xlsx
hourly datasets/year-3-1.xlsx
hourly datasets/year-3-10.xlsx
hourly datasets/year-3-2.xlsx
hourly datasets/year-3-3.xlsx
hourly datasets/year-3-4.xlsx
hourly datasets/year-3-5.xlsx
hourly datasets/year-3-6.xlsx
hourly datasets/year-3-7.xlsx
hourly datasets/year-3-8.xlsx
hourly datasets/year-3-9.xlsx
hourly datasets/year-4-0.xlsx
hourly datasets/year-4-1.xlsx
hourly datasets/year-4-2.xlsx
hourly datasets/year-5-0.xlsx
hourly datasets/year-5-1.xlsx
hourly datasets/year-5-2.xlsx
hourly datasets/year0-0.xlsx
hourly datasets/year0-1.xlsx
hourly datasets/year0-10.xlsx
hourly datasets/year0-11.xlsx
hourly datasets/year0-12.xlsx
hourly datasets/year0-13.xlsx
hourly datasets/year0-2.xlsx
hourly datasets/year0-3.xlsx
hourly datasets/year0-4.xlsx
hourly datasets/year0-5.xlsx
hourly datasets/year0-6.xlsx
hourly datasets/year0-7.xlsx
hourly datasets/year0-8.xlsx
hourly datasets/year0-9.xlsx
hourly datasets/year1-1.xlsx
hourly datasets/year1-10.xlsx
hourly datasets/year1-11.xlsx
hourly datasets/year1-12.xlsx
hourly datasets/year1-13.xlsx
hourly datasets/year1-2.xlsx
hourly datasets/year1-3.xlsx
hourly datasets/year1-4.xlsx
hourly datasets/year1-5.xlsx
hourly datasets/year1-6.xlsx
hourly datasets/year1-7.xlsx
hourly datasets/year1-8.xlsx
hourly datasets/year1-9.xlsx
hourly datasets/year10-0.xlsx
hourly datasets/year10-1.xlsx
hourly datasets/year10-10.xlsx
hourly datasets/year10-11.xlsx
hourly datasets/year10-12.xlsx
hourly datasets/year10-13.xlsx
hourly datasets/year10-14.xlsx
hourly datasets/year10-2.xlsx
hourly datasets/year10-3.xlsx
hourly datasets/year10-4.xlsx
hourly datasets/year10-5.xlsx
hourly datasets/year10-6.xlsx
hourly datasets/year10-7.xlsx
hourly datasets/year10-8.xlsx
hourly datasets/year10-9.xlsx
hourly datasets/year11-0.xlsx
hourly datasets/year11-1.xlsx
hourly datasets/year11-10.xlsx
hourly datasets/year11-11.xlsx
hourly datasets/year11-12.xlsx
hourly datasets/year11-13.xlsx
hourly datasets/year11-2.xlsx
hourly datasets/year11-3.xlsx
hourly datasets/year11-4.xlsx
hourly datasets/year11-5.xlsx
hourly datasets/year11-6.xlsx
hourly datasets/year11-7.xlsx
hourly datasets/year11-8.xlsx
hourly datasets/year11-9.xlsx
hourly datasets/year12-0.xlsx
hourly datasets/year12-1.xlsx
hourly datasets/year12-10.xlsx
hourly datasets/year12-11.xlsx
hourly datasets/year12-12.xlsx
hourly datasets/year12-13.xlsx
hourly datasets/year12-2.xlsx
hourly datasets/year12-3.xlsx
hourly datasets/year12-4.xlsx
hourly datasets/year12-5.xlsx
hourly datasets/year12-6.xlsx
hourly datasets/year12-7.xlsx
hourly datasets/year12-8.xlsx
hourly datasets/year12-9.xlsx
hourly datasets/year13-0.xlsx
hourly datasets/year13-1.xlsx
hourly datasets/year13-10.xlsx
hourly datasets/year13-11.xlsx
hourly datasets/year13-12.xlsx
hourly datasets/year13-13.xlsx
hourly datasets/year13-2.xlsx
hourly datasets/year13-3.xlsx
hourly datasets/year13-4.xlsx
hourly datasets/year13-5.xlsx
hourly datasets/year13-6.xlsx
hourly datasets/year13-7.xlsx
hourly datasets/year13-8.xlsx
hourly datasets/year13-9.xlsx
hourly datasets/year14-0.xlsx
hourly datasets/year14-1.xlsx
hourly datasets/year14-10.xlsx
hourly datasets/year14-11.xlsx
hourly datasets/year14-12.xlsx
hourly datasets/year14-13.xlsx
hourly datasets/year14-2.xlsx
hourly datasets/year14-3.xlsx
hourly datasets/year14-4.xlsx
hourly datasets/year14-5.xlsx
hourly datasets/year14-6.xlsx
hourly datasets/year14-7.xlsx
hourly datasets/year14-8.xlsx
hourly datasets/year14-9.xlsx
hourly datasets/year15-0.xlsx
hourly datasets/year15-1.xlsx
hourly datasets/year15-10.xlsx
hourly datasets/year15-11.xlsx
hourly datasets/year15-12.xlsx
hourly datasets/year15-13.xlsx
hourly datasets/year15-2.xlsx
hourly datasets/year15-3.xlsx
hourly datasets/year15-4.xlsx
hourly datasets/year15-5.xlsx
hourly datasets/year15-6.xlsx
hourly datasets/year15-7.xlsx
hourly datasets/year15-8.xlsx
hourly datasets/year15-9.xlsx
hourly datasets/year16-0.xlsx
hourly datasets/year16-1.xlsx
hourly datasets/year16-10.xlsx
hourly datasets/year16-11.xlsx
hourly datasets/year16-12.xlsx
hourly datasets/year16-2.xlsx
hourly datasets/year16-3.xlsx
hourly datasets/year16-4.xlsx
hourly datasets/year16-5.xlsx
hourly datasets/year16-6.xlsx
hourly datasets/year16-7.xlsx
hourly datasets/year16-8.xlsx
hourly datasets/year16-9.xlsx
hourly datasets/year17-0.xlsx
hourly datasets/year17-1.xlsx
hourly datasets/year17-10.xlsx
hourly datasets/year17-11.xlsx
hourly datasets/year17-2.xlsx
hourly datasets/year17-3.xlsx
hourly datasets/year17-4.xlsx
hourly datasets/year17-5.xlsx
hourly datasets/year17-6.xlsx
hourly datasets/year17-7.xlsx
hourly datasets/year17-8.xlsx
hourly datasets/year17-9.xlsx
hourly datasets/year18-0.xlsx
hourly datasets/year18-1.xlsx
hourly datasets/year18-10.xlsx
hourly datasets/year18-11.xlsx
hourly datasets/year18-12.xlsx
hourly datasets/year18-2.xlsx
hourly datasets/year18-3.xlsx
hourly datasets/year18-4.xlsx
hourly datasets/year18-5.xlsx
hourly datasets/year18-6.xlsx
hourly datasets/year18-7.xlsx
hourly datasets/year18-8.xlsx
hourly datasets/year18-9.xlsx
hourly datasets/year19-0.xlsx
hourly datasets/year19-1.xlsx
hourly datasets/year19-10.xlsx
hourly datasets/year19-11.xlsx
hourly datasets/year19-12.xlsx
hourly datasets/year19-2.xlsx
hourly datasets/year19-3.xlsx
hourly datasets/year19-4.xlsx
hourly datasets/year19-5.xlsx
hourly datasets/year19-6.xlsx
hourly datasets/year19-7.xlsx
hourly datasets/year19-8.xlsx
hourly datasets/year19-9.xlsx
hourly datasets/year2-0.xlsx
hourly datasets/year2-1.xlsx
hourly datasets/year2-10.xlsx
hourly datasets/year2-11.xlsx
hourly datasets/year2-12.xlsx
hourly datasets/year2-13.xlsx
hourly datasets/year2-2.xlsx
hourly datasets/year2-3.xlsx
hourly datasets/year2-4.xlsx
hourly datasets/year2-5.xlsx
hourly datasets/year2-6.xlsx
hourly datasets/year2-7.xlsx
hourly datasets/year2-8.xlsx
hourly datasets/year2-9.xlsx
hourly datasets/year20-0.xlsx
hourly datasets/year20-1.xlsx
hourly datasets/year20-10.xlsx
hourly datasets/year20-11.xlsx
hourly datasets/year20-2.xlsx
hourly datasets/year20-3.xlsx
hourly datasets/year20-4.xlsx
hourly datasets/year20-5.xlsx
hourly datasets/year20-6.xlsx
hourly datasets/year20-7.xlsx
hourly datasets/year20-8.xlsx
hourly datasets/year20-9.xlsx
hourly datasets/year21-0.xlsx
hourly datasets/year21-1.xlsx
hourly datasets/year21-10.xlsx
hourly datasets/year21-11.xlsx
hourly datasets/year21-2.xlsx
hourly datasets/year21-3.xlsx
hourly datasets/year21-4.xlsx
hourly datasets/year21-5.xlsx
hourly datasets/year21-6.xlsx
hourly datasets/year21-7.xlsx
hourly datasets/year21-8.xlsx
hourly datasets/year21-9.xlsx
hourly datasets/year3-0.xlsx
hourly datasets/year3-1.xlsx
hourly datasets/year3-10.xlsx
hourly datasets/year3-11.xlsx
hourly datasets/year3-12.xlsx
hourly datasets/year3-13.xlsx
hourly datasets/year3-2.xlsx
hourly datasets/year3-3.xlsx
hourly datasets/year3-4.xlsx
hourly datasets/year3-5.xlsx
hourly datasets/year3-6.xlsx
hourly datasets/year3-7.xlsx
hourly datasets/year3-8.xlsx
hourly datasets/year3-9.xlsx
hourly datasets/year4-0.xlsx
hourly datasets/year4-1.xlsx
hourly datasets/year4-10.xlsx
hourly datasets/year4-11.xlsx
hourly datasets/year4-12.xlsx
hourly datasets/year4-13.xlsx
hourly datasets/year4-14.xlsx
hourly datasets/year4-2.xlsx
hourly datasets/year4-3.xlsx
hourly datasets/year4-4.xlsx
hourly datasets/year4-5.xlsx
hourly datasets/year4-6.xlsx
hourly datasets/year4-7.xlsx
hourly datasets/year4-8.xlsx
hourly datasets/year4-9.xlsx
hourly datasets/year5-0.xlsx
hourly datasets/year5-1.xlsx
hourly datasets/year5-10.xlsx
hourly datasets/year5-11.xlsx
hourly datasets/year5-12.xlsx
hourly datasets/year5-13.xlsx
hourly datasets/year5-14.xlsx
hourly datasets/year5-2.xlsx
hourly datasets/year5-3.xlsx
hourly datasets/year5-4.xlsx
hourly datasets/year5-5.xlsx
hourly datasets/year5-6.xlsx
hourly datasets/year5-7.xlsx
hourly datasets/year5-8.xlsx
hourly datasets/year5-9.xlsx
hourly datasets/year6-0.xlsx
hourly datasets/year6-1.xlsx
hourly datasets/year6-10.xlsx
hourly datasets/year6-11.xlsx
hourly datasets/year6-12.xlsx
hourly datasets/year6-13.xlsx
hourly datasets/year6-14.xlsx
hourly datasets/year6-2.xlsx
hourly datasets/year6-3.xlsx
hourly datasets/year6-4.xlsx
hourly datasets/year6-5.xlsx
hourly datasets/year6-6.xlsx
hourly datasets/year6-7.xlsx
hourly datasets/year6-8.xlsx
hourly datasets/year6-9.xlsx
hourly datasets/year7-0.xlsx
hourly datasets/year7-1.xlsx
hourly datasets/year7-10.xlsx
hourly datasets/year7-11.xlsx
hourly datasets/year7-12.xlsx
hourly datasets/year7-13.xlsx
hourly datasets/year7-14.xlsx
hourly datasets/year7-2.xlsx
hourly datasets/year7-3.xlsx
hourly datasets/year7-4.xlsx
hourly datasets/year7-5.xlsx
hourly datasets/year7-6.xlsx
hourly datasets/year7-7.xlsx
hourly datasets/year7-8.xlsx
hourly datasets/year7-9.xlsx
hourly datasets/year8-0.xlsx
hourly datasets/year8-1.xlsx
hourly datasets/year8-10.xlsx
hourly datasets/year8-11.xlsx
hourly datasets/year8-12.xlsx
hourly datasets/year8-13.xlsx
hourly datasets/year8-14.xlsx
hourly datasets/year8-2.xlsx
hourly datasets/year8-3.xlsx
hourly datasets/year8-4.xlsx
hourly datasets/year8-5.xlsx
hourly datasets/year8-6.xlsx
hourly datasets/year8-7.xlsx
hourly datasets/year8-8.xlsx
hourly datasets/year8-9.xlsx
hourly datasets/year9-0.xlsx
hourly datasets/year9-1.xlsx
hourly datasets/year9-10.xlsx
hourly datasets/year9-11.xlsx
hourly datasets/year9-12.xlsx
hourly datasets/year9-13.xlsx
hourly datasets/year9-2.xlsx
hourly datasets/year9-3.xlsx
hourly datasets/year9-4.xlsx
hourly datasets/year9-5.xlsx
hourly datasets/year9-6.xlsx
hourly datasets/year9-7.xlsx
hourly datasets/year9-8.xlsx
hourly datasets/year9-9.xlsx
